/* CSS Document */
#navigation a
{
	text-decoration: none;
	padding-left: 10px;
	color:#FFFFCC;
	font-family: Arial, Helvetica, sans-serif;
	font-style: normal;
	font-weight: bold;
	background-color: #0091f1;
	background-image: url(left-tab.gif);
	background-repeat: no-repeat;
	background-position: left top;
}

#navigation a span
{
background: url(right-tab.gif) right top no-repeat;
padding-right: 10px
}

#navigation #current a
{
	color: #000;
	text-decoration: none;
	padding-left: 10px;
	color:#FFFFCC;
	font-family: Arial, Helvetica, sans-serif;
	font-style: normal;
	font-weight: bold;
	background-color: #00F;
	background-image: url(left-tab-hover.gif);
	background-repeat: no-repeat;
	background-position: left top;
}

#navigation #current a span
{
	padding-right: 10px;
	background-image: url(right-tab-hover.gif);
	background-repeat: no-repeat;
	background-position: right top;
}

#navigation a:hover
{
	color:#FFFFCC;
	font-family: Arial, Helvetica, sans-serif;
	font-style: normal;
	font-weight: bold;
	padding-left: 10px;
	background-color: #00F;
	background-image: url(left-tab-hover.gif);
	background-repeat: no-repeat;
	background-position: left top;
}

#navigation a:hover span
{
	padding-right: 10px;
	background-image: url(right-tab-hover.gif);
	background-repeat: no-repeat;
	background-position: right top;
}

#navigation ul
{
list-style: none;
padding: 0;
margin: 0;
}

#navigation li
{
float: left;
padding:0;
margin: 0;
} 
#navigation ul
{
list-style: none;
padding: 0;
margin: 0;
}

#navigation li
{
float: left;
padding:0;
margin: 0;
} 
#sidebar table
{
color:#FFFFCC;
}

#sidebar a
{
	color:#FFFFCC;
	font-size: small;
}


#sidebar td:hover
{
	color:#FFFFCC;
	background-color:#0091f1;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-style: normal;
	font-weight: bold;
}
.maintitle em {
	font-size: xx-large;
}
.maintitle {

}
.bold {
	font-weight: bold;
}
.subtitle p bold {
	font-weight: bold;
}
.subtitle p {
	font-weight: bold;
}
.subtitle {
	font-weight: bold;
}
